
header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 35rem;
    font-family: 'Oswald', sans-serif;
    height: 747px;
    
}

#ronald {
    padding-top: 20rem;

}
#about {
    font-family: 'Open Sans', sans-serif;
}

#about p {
    font-size: 20px;
}

#exp h3 {

    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#works h3 {

    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#works {

    background-color: #17a2b8;
}

footer {
    background-color: #17a2b8;
    height: 250px;
}

footer h2 {

    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

html, body {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;

}