header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin: 0px;
    padding-top: 350px;
    height: 737px;
    font-family: 'Oswald', sans-serif;
    
}

#about {
    font-family: 'Open Sans', sans-serif;
}

#about p {
    font-size: 20px;
}

#exp h3 {
    
    font-family: 'Oswald', sans-serif;
}